[Unit]
Description=Check the disk space usage is lower than the configured threshold
Documentation=https://github.com/bbx0/systemd-healthchecks
OnSuccess=healthchecks-ping@%N.service

[Service]
Type=oneshot
Environment=THRESHOLD=80
# Print disk usage when the highest value is above the threshold and return 1
ExecStart=!/bin/sh -c "\
above_threshold=\"$(df --human-readable --portability --print-type | awk \"{ df=strtonum(\\$6); if (df > $THRESHOLD) print; }\")\" || exit 2; \
test -z \"$above_threshold\" && exit 0 || { printf \"%%b\" \"$above_threshold\" && exit 1; }"

# The test execution itself is successful for both results. If the service unit fails, no ping will be sent and healthchecks will notice the missing ping.
SuccessExitStatus=0 1